[Desktop Entry]
Type=Application
Name=Beam-MP-Server-Manager Appliance
Exec=/usr/local/libexec/beam-appliance-desktop-session
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
